* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    width: 100%;
    gap: 1rem;
}
.tudo{
    display: flex;
    justify-content: center;
    border: 1px solid;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    flex: 1;
    overflow: hidden;
    padding: 50px;
    gap: 1rem;
    align-content: space-around;

}
.coluna_um {
    border: 1px solid;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
  
}
.coluna_dois {
    border: 1px solid;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    align-content: space-around;
    align-items: center;
    gap: 1rem;
}
.novo_item {
    border: 1px solid;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    
}
.coluna_tres {
    border: 1px solid;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    align-content: space-around;
    align-items: center;
    gap: 1rem;
}

.coluna_quatro {
    border: 1px solid;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.esquerdo_coluna_colunadois {
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
  
    gap: 100rem;

}
.top_esquerda_coluna_colunadois {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 5rem;
}
.codigo_item_esquerda_coluna_colunadois {
    border: 1px solid;
}
.tipo_item_esquerda_coluna_colunadois{
    border: 1px solid;
}
.mid_esquerda_coluna_colunadois {
    border: 1px solid;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.bot_esquerda_coluna_colunadois {
    border: 1px solid;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.direita_coluna_colunadois {
    border: 1px solid;
    align-content: space-around;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.esquerdo_coluna_colunatres {
    align-content: space-around;
    flex-direction: column;
}
.direita_coluna_colunatres {
    border: 1px solid;
    align-content: space-around;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
} .top_esquerda_coluna_colunatres {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 5rem;
    align-content: space-around;
}
.top_esquerda_coluna_colunaquatro {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 5rem;
    align-content: space-around;
}