body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.matriz{
    display: flex;
    border: 1px solid;
    flex: 0.5;
    justify-content: center;
    height: 260px;
    width: 560px;
}

.imagem{
    flex: 0.5;
    border: none;
    overflow: hidden;
}
.especificacoes__primeira-coluna{
    justify-content: space-between;
    border: none;
    flex-direction: row;
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: center;
}
.especificacoes{
    display: flex;
    flex: 1;
    flex-direction: column;
    border: none;
    padding: 1rem;
}
.especificacoes__segunda-coluna{
    display: flex;
    justify-content: baseline;
    flex: 1;
    border: 1px solid;
    align-items: center;
    gap: 10px;
}
.especificacoes__segunda-coluna button{
    border: none;
    background-color: white;
    color: black;
    margin: 1px;
}
.especificacoes__terceira-coluna{
    border: 1px;
    border-color: black;
    align-items: center;
    justify-content: space-between;
}
.imagem img {
    height: 100%;
}
.produto{
    border: none;
}
.preco{
    border: none;
}
button.escolhido{
    background-color: rgb(202, 29, 29);
    color: bisque;
}