body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.matriz{
    display: flex;
    border: 1px solid;
    flex: 0.5;
    justify-content: center;
    height: 260px;
}
.tamanhos{
    justify-content: space-around;
    border: 1px solid;
}
.imagem{
    flex: 0.5;
    border: none;
    overflow: hidden;
}
.especificacoes__primeira-coluna{
    justify-content: space-around;
    border: 1px solid;
    flex-direction: row;

}
.especificacoes{
    display: flex;
    flex: 1;
    flex-direction: column;
    border: none;
    padding: 1rem;
}
.especificacoes__segunda-coluna{
    display: flex;
    justify-content: space-around;
}
